
:root{
  --primary-blue:#41c4e0;
  --primary-green:rgba(65, 224, 136, 1);
  --primary-font-color: #000;
  --secondary-font-color: #555;
  --light-green:#a0f0c4;
  --lighter-green: rgb(223, 252, 250);
  --light-blue: #7ad6e9;
  --lighter-blue: #c6edf6;
  --lightest-green:rgba(237, 253, 252, 1);

}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.telehealth-logo{
  padding: 10px;
}

.telehealth{
  display: flex;
  padding: 10px 40px;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}
.telehealth p{
 width: 40%;

}
.telehealth p a{
 font-size: 20px;
 text-decoration: none;
 color: black;
}
.telehealth p a:hover{
  color: #555;
}
.telehealth h2{
  color: var(--primary-green);
  text-align: center;
  font-size: 30px;
}

.telehealth-hero-image{
  display: flex;
  flex-direction: column;
  background-color: var(--lighter-green);
  padding: 40px;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.telehealth-hero-text h2{
  margin: 20px 0px;
}
.telehealth-hero-text p{
  margin-bottom: 20px;
  max-width:500px ;
}
.how-it-works-div{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 40px;
  gap: 20px;
  width: 100%;
  overflow: hidden;
}
.how-it-works-div h2{
  text-align: center;
} 

.how-it-works-txt{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  max-width: 300px;
  margin-top: 20px;
}
.how-it-works-sub.how-it-works-invisible{
  display: none;
}
.how-it-works-sub img, .concerns img{
  max-width: 300px;
}
.how-it-works-txt p, .concerns p{
  line-height: 2rem;
}
.btn-step1{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border:none;
  cursor: pointer;
  background:#cfcccc;
}
.concerns{
  padding: 40px 20px;
  background-color: var(--lighter-green);
  overflow: hidden;
}
.concerns-txt{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.frequently-asked-questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 20px;
  margin: 20px;
}
.frequently-asked-questions h2{
  color: var(--primary-green);
  text-align: center;
  font-weight: 600;

}

.the-question{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  margin-bottom: 20px;
}
.each-question{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  text-align: flex-start;
  border-radius: 6px;
  box-shadow:4px 4px 10px rgba(0, 0, 0, 0.2) ;
}
.each-question h4{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
 .faqAnswer, .hideFaq{
  display: none;
  margin-top: 8px;
  color: #333;
 }
.toggleIcon.fa-chevron-up{
  display: none;
}
.each-question.active .faqAnswer{
  display: block;
}
.each-question.active .fa-chevron-down{
  display: none;
}
.each-question.active .fa-chevron-up{
  display:inline;
}

 .btn2{
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 8px;
  font-weight: bold;
  border: 1px var(--primary-green) solid;
  background: none;
  cursor: pointer;
  background: var(--primary-green);
  color:#fff;
}

@media screen and (min-width: 1024px){
  .how-it-works-sub, .concerns{
    display: flex;
    gap: 30px;
    
  }
  .how-it-works-sub img, .concerns img{
    max-width: fit-content;
  }
  .how-it-works-txt,.concerns-txt{
    max-width: 500px;
  }

}
  @media screen and (max-width: 600px){
    .concerns img{
      margin: 50px 0px;
    }
    .how-it-works-sub.how-it-works-invisible{
      display:block;
    }
    .how-it-works-txt{
      gap: 10px;
      margin-bottom: 60px;
    }
   
  }